<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiankangli.knowledge.jiankang_yixiupro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jiankangli.knowledge.jiankang_yixiupro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 提供共享路径 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ForgetActivity" />
        <activity android:name=".activity.ChangPsdActivity" />
        <activity android:name=".activity.PersonalActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.feedbackActivity" />
        <activity android:name=".activity.MMBActivity" />
        <activity android:name=".activity.ChangePsd2Activity" />
        <activity android:name=".activity.MessageCenterActivity" />
        <activity android:name=".activity.RepairOrderActivity" />
        <activity android:name=".activity.UpkeepActivity" />
        <activity android:name=".activity.PollingActivity" />
        <activity android:name=".activity.MessageDetilsActivity"></activity>
    </application>

</manifest>